<div nz-row class="ant-advanced-search-form">
  <div nz-col nzFlex="5">
    <nz-button-group>
      <button class="value-search" nz-dropdown nzTrigger="click" [hidden]="isScreenSmall"
        [nzDropdownMenu]="isScreenSmall? menu : menuLarge" [nzClickHide]="false" [(nzVisible)]="visibleDropdownSearch">
        <ng-container *ngIf="!isScreenSmall">
          <nz-tag *ngFor="let tag of searchValue" style="margin: 5px">{{
            tag.value
            }}</nz-tag>
        </ng-container>
      </button>

      <button nz-button nzType="primary" nzSize="large" (click)="openDropdownSearch()">
        <span nz-icon nzType="search"></span>
      </button>
      <button nz-button nzType="primary" nzSize="large" style="margin-left: 5px; border-radius: 0 0 0 0"
        (click)="reloadData()">
        <span nz-icon nzType="reload"></span>
      </button>
      <button nz-button nzType="primary" nzSize="large" (click)="showAddNew()"
        style="margin-left: 5px; border-radius: 0 0 0 0">
        Thêm mới
      </button>

      <nz-modal [(nzVisible)]="showModalColumn" nzTitle="Chọn cột ẩn hiện" [nzFooter]="null"
        (nzOnCancel)="showModalColumn = false">
        <ng-container *nzModalContent>
          <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="checkColumn($event)">
            <div nz-row nz-menu>
              <div class="select-column" *ngFor="let item of checkedColumns" nz-col nzSpan="8"><label nz-checkbox
                  [nzValue]="item.id" [ngModel]="item.show">{{item.label}}</label></div>
              <!-- <div nz-col nzSpan="8"><label nz-checkbox nzValue="B">B</label></div>
              <div nz-col nzSpan="8"><label nz-checkbox nzValue="C">C</label></div>
              <div nz-col nzSpan="8"><label nz-checkbox nzValue="D">D</label></div>
              <div nz-col nzSpan="8"><label nz-checkbox nzValue="E">E</label></div> -->
            </div>
          </nz-checkbox-wrapper>
          <!-- <ul nz-menu >
            <li>
              <nz-checkbox-group nzWidth="10" [(ngModel)]="checkOptionsOne"
                (ngModelChange)="log(checkOptionsOne)"></nz-checkbox-group>
            </li>
          </ul> -->
        </ng-container>
      </nz-modal>
    </nz-button-group>
  </div>
</div>
<br />

<form nz-form [formGroup]="validateFormSearch" class="ant-advanced-search-form-dropdown" (ngSubmit)="submitFormSearch()"
  [hidden]="isScreenSmall">
  <ng-container>
    <nz-dropdown-menu #menuLarge="nzDropdownMenu">
      <div class="dropdown-white">
        <div nz-col [nzSpan]="24" *ngFor="let control of controlArraySearch" [hidden]="!control.show"
          [ngSwitch]="control.type">
          <nz-form-item *ngSwitchCase="'default'">
            <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="control.id">{{
              control.name
              }} </nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng nhập {{ control.name }}!">
              <input nz-input placeholder="{{ control.placeholder }}" [formControlName]="control.id"
                [attr.id]="control.id" (change)="makeSearchValue()" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24" style="text-align: right">
          <nz-form-item>
            <nz-form-control>
              <div class="search-area">
                <button nz-button [nzType]="'primary'" (click)="submitFormSearch()">Tìm kiếm</button>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-dropdown-menu>

    <div nz-row *ngIf="!isScreenSmall">
      <ng-container *ngFor="let control of controlArraySearch">
        <div nz-col [nzSpan]="24"
          *ngIf="control.show && control.type == 'select' && !['Bed','Furniture' ].includes(control.id)">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="control.id" class="label-radio-button">{{
              control.name
              }}</nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng chọn {{ control.name }}!">

              <nz-radio-group [formControlName]="control.id" [attr.id]="control.id"
                (ngModelChange)="makeSearchValue(true)" nzButtonStyle="solid">
                <label class="radio-button"
                  [ngStyle]="{'color': (getColorStatusById(control.valueSelect, opt.value) ? 'white': '#000000')  , 'background-color':  getColorStatusById(control.valueSelect, opt.value, opt.value == validateFormSearch.get(control.id)?.value)}"
                  *ngFor="let opt of control.valueSelect" [nzValue]="opt.value" nz-radio-button>{{ opt.text
                  }} {{ opt.value == validateFormSearch.get(control.id)?.value ? '✓': ''}}</label>
                <label
                  style="border: 1px solid #d9d9d9; color: #000;font-weight: 700; background-color: transparent !important;"
                  [nzValue]="null" nz-radio-button *ngIf="validateFormSearch.get(control.id)?.value != '' "> -
                </label>

              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </ng-container>
      <ng-container *ngFor="let control of controlArraySearch">
        <div nz-col [nzSpan]="12"
          *ngIf="control.show && control.type == 'select' && ['Bed','Furniture' ].includes(control.id)">
          <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="control.id" class="label-radio-button">{{
              control.name
              }}</nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng chọn {{ control.name }}!">

              <nz-radio-group [formControlName]="control.id" [attr.id]="control.id"
                (ngModelChange)="makeSearchValue(true)" nzButtonStyle="solid">
                <label class="radio-button"
                  [ngStyle]="{'color': (getColorStatusById(control.valueSelect, opt.value) ? 'white': '#000000')  , 'background-color':  getColorStatusById(control.valueSelect, opt.value, opt.value == validateFormSearch.get(control.id)?.value)}"
                  *ngFor="let opt of control.valueSelect" [nzValue]="opt.value" nz-radio-button>{{ opt.text
                  }} {{ opt.value == validateFormSearch.get(control.id)?.value ? '✓': ''}}</label>
                <label
                  style="border: 1px solid #d9d9d9; color: #000;font-weight: 700; background-color: transparent !important;"
                  [nzValue]="null" nz-radio-button *ngIf="validateFormSearch.get(control.id)?.value != '' "> -
                </label>

              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </ng-container>

    </div>

  </ng-container>

  <ng-container>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="dropdown-white">
        <div nz-col [nzSpan]="24" *ngFor="let control of controlArraySearch" [ngSwitch]="control.type">
          <nz-form-item *ngSwitchCase="'default'" class="mb-5">
            <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="control.id" class="p-0">{{
              control.name
              }}</nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng nhập {{ control.name }}!">
              <input nz-input placeholder="{{ control.placeholder }}" [formControlName]="control.id"
                [attr.id]="control.id" (change)="makeSearchValue()" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item *ngSwitchCase="'select'" class="mb-5">
            <nz-form-label [nzSm]="24" [nzXs]="24" [nzFor]="control.id" class="p-0">{{
              control.name
              }}</nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng nhập {{ control.name }}!">
              <nz-select [formControlName]="control.id" [attr.id]="control.id"
                nzPlaceHolder="{{ control.placeholder }}">
                <nz-option *ngFor="let opt of control.valueSelect" nzValue="{{ opt.value }}"
                  nzLabel="{{ opt.text }}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

        </div>
        <div nz-col [nzSpan]="24" style="text-align: right">
          <nz-form-item>
            <nz-form-control>
              <div class="search-area">
                <button nz-button [nzType]="'primary'" (click)="submitFormSearch()">Tìm kiếm</button>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-dropdown-menu>
  </ng-container>
</form>

<div class="search-result-list">
  <div class="search-result-list">
    <div nz-row class="show-hide-columns">
      <button nz-button nzType="primary" nzSize="large" (click)="showModalColumn= true" nzPlacement="bottomRight"
        style="margin-left: 5px; border-radius: 0 0 0 0; text-align: right; justify-content: right; display: block;">
        Chọn cột ẩn hiện
      </button>
    </div>
    <nz-table #editRowTable nzBordered [nzData]="listOfData"
    [ngStyle]="{ 'width': this.getColumnSize()}"
     [nzSize]="'middle'" [nzLoading]="loadingData" [nzTotal]="total"
      [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" nzShowSizeChanger [nzFrontPagination]="false"
      (nzQueryParams)="onQueryParamsChange($event)" nz-col="150px"  [nzScroll]="{ x: getTableSize(), y: '600px' }" >
      <thead>
        <tr>
          <ng-container *ngFor="let dataKey of checkedColumns">
            <th style="white-space: nowrap; font-weight: bold; 
            word-wrap: break-word;" 
              [nzAlign]="'left'" [nzLeft]="dataKey.id == 'customer_name'"
              [nzWidth]="(dataKey.id == 'customer_name' ? '50px' : '30px')"
              *ngIf="dataKey.show || dataKey.id == 'customer_name'"  [ngStyle]="{color: (dataKey.id == 'customer_name' ? '' : '#1CB0F6'), 'max-width': (dataKey.id == 'customer_name' ? '200px': '50px')}">
              <div> {{dataKey.label}} </div>
            </th>
          </ng-container>

        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of editRowTable.data; let i = index">
          <tr class="pointer" [ngClass]="{ 'row-highlight': i%2}">
            <td [nzAlign]="'left'" [nzLeft]="true">
              <div style="width: 200px;">
                <ul>
                  <li *ngIf="data.Code"><span style="font-weight: bold;"> {{ data.Code }}</span></li>
                  <li *ngIf="data.Name">{{ data.Name }}</li>
                  <li *ngIf="data.Email">{{ data.Email }}</li>
                  <li *ngIf="data.Phone"> <a (click)="viewPhoneNote(data)">{{
                      data.Phone
                      }}</a></li>
                </ul>

              </div>
            </td>
            <ng-container *ngFor="let dataKey of checkedColumns">
              <td [nzAlign]="'center'" *ngIf="dataKey.show && dataKey.id != 'customer_name'"
                (click)=" ['Image_original' ].includes(dataKey.id)  ? null : showModalNote(data)">
                <ng-container *ngIf="dataKey.id == 'Status'">
                  <nz-tag [nzColor]="getColorStatusById(this.filterStatus, data.Status)">
                    {{ getValueById(this.filterStatus, data.Status) }}
                  </nz-tag>
                </ng-container>
                <ng-container *ngIf="dataKey.id == 'Note'">
                  <nz-badge [nzCount]="countNotesByIdData(data.id)">
                    <a class="head-example"><span nz-icon nzType="comment" nzTheme="outline"></span></a>
                  </nz-badge>
                </ng-container>
                <ng-container *ngIf="dataKey.id == 'Furniture'">
                  {{ getValueById(this.filterFurniture, data.Furniture) }}
                </ng-container>
                <ng-container *ngIf="dataKey.id == 'Image_original'">
                  <nz-badge [nzCount]="countImagesByIdData(data.id)" (click)="showModalImage(data)">
                    <a class="head-example"><span nz-icon nzType="file-image" nzTheme="outline"></span></a>
                  </nz-badge>
                </ng-container>
                <ng-container *ngIf=" !['Status','Note','Furniture','Image_original'].includes(dataKey.id)">
                  {{ data[dataKey.id] }}
                </ng-container>
              </td>
            </ng-container>
          </tr>
        </ng-container>

      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal [(nzVisible)]="isVisibleModalAdd" nzTitle="Thêm mới" nzCentered (nzOnCancel)="handleCancelModalAdd()"
  nzWidth="80rem" [nzFooter]="null">
  <ng-container *nzModalContent style="min-height: 20rem">
    <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form" (ngSubmit)="submitForm()">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24" *ngFor="let control of controlArray" [hidden]="!control.show"
          [ngSwitch]="control.type">
          <nz-form-item *ngSwitchCase="'default'">
            <nz-form-label nzLabelAlign="left" [nzSm]="3" [nzXs]="24" [nzFor]="control.id">{{
              control.name
              }}</nz-form-label>
            <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Input is required!">
              <input nz-input placeholder="{{ control.placeholder }}" [formControlName]="control.id"
                [attr.id]="control.id" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item *ngSwitchCase="'select'">
            <nz-form-label nzLabelAlign="left" [nzSm]="3" [nzXs]="24" [nzFor]="control.id">{{
              control.name
              }}</nz-form-label>
            <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Input is required!">
              <nz-radio-group [formControlName]="control.id" [attr.id]="control.id" nzButtonStyle="solid"
                nzButtonStyle="solid">
                <!-- <label *ngFor="let opt of control.valueSelect" [nzValue]="opt.value" nz-radio-button>{{ opt.text
                  }}</label>
                   -->
                <label class="radio-button"
                  [ngStyle]="{'color': (getColorStatusById(control.valueSelect, opt.value) ? 'white': '#000000')  , 'background-color':  getColorStatusById(control.valueSelect, opt.value, opt.value == validateForm.get(control.id)?.value)}"
                  *ngFor="let opt of control.valueSelect" [nzValue]="opt.value" nz-radio-button>{{ opt.text
                  }} {{ opt.value == validateForm.get(control.id)?.value ? '✓': ''}} </label>
                <label
                  style="border: 1px solid #d9d9d9; color: #000;font-weight: 700; background-color: transparent !important;"
                  [nzValue]="null" nz-radio-button *ngIf="validateForm.get(control.id)?.value != '' "> -
                </label>


              </nz-radio-group>

              <!-- <nz-select
                [formControlName]="control.id"
                [attr.id]="control.id"
                nzPlaceHolder="{{ control.placeholder }}"
              >
                <nz-option
                  *ngFor="let opt of control.valueSelect"
                  nzValue="{{ opt.value }}"
                  nzLabel="{{ opt.text }}"
                ></nz-option>
              </nz-select> -->
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzLabelAlign="left" [nzSm]="9" [nzXs]="24" [nzFor]="'upload-image'">Hình ảnh</nz-form-label>
            <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Input is required!">
              <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" nzMultiple="'true'">
                <button nz-button>
                  <span nz-icon nzType="upload"></span>
                  Tải hình ảnh lên
                </button>
              </nz-upload>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row style="text-align: right">
        <div nz-col [nzSpan]="24" class="search-area">
          <button nz-button [nzType]="'primary'">Gửi</button>
        </div>
      </div>
    </form>
  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleModalEdit" nzTitle="Chỉnh sửa" nzCentered (nzOnCancel)="handleCancelModalEdit()"
  nzWidth="80rem" [nzFooter]="null">
  <ng-container *nzModalContent style="min-height: 20rem">
    <form nz-form [formGroup]="validateFormEdit" class="ant-advanced-search-form" (ngSubmit)="submitFormEdit()">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24" *ngFor="let control of controlArrayEdit" [hidden]="!control.show"
          [ngSwitch]="control.type">
          <nz-form-item *ngSwitchCase="'default'">
            <nz-form-label nzLabelAlign="left" [nzSm]="3" [nzXs]="24" [nzFor]="control.id">{{
              control.name
              }}</nz-form-label>
            <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Input is required!">
              <input nz-input placeholder="{{ control.placeholder }}" [formControlName]="control.id"
                [attr.id]="control.id" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item *ngSwitchCase="'select'">
            <nz-form-label nzLabelAlign="left" [nzSm]="3" [nzXs]="24" [nzFor]="control.id">{{
              control.name
              }}</nz-form-label>
            <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Input is required!">
              <nz-radio-group [formControlName]="control.id" [attr.id]="control.id" nzButtonStyle="solid"
                (ngModelChange)="changeValue(control.id,$event)">
                <label *ngFor="let opt of control.valueSelect" class="radio-button"
                  [ngStyle]="{'color': (getColorStatusById(control.valueSelect, opt.value) ? 'white': '#000000')  , 'background-color': getColorStatusById(control.valueSelect, opt.value, currentRecord[control.id] == opt.value)}"
                  [nzValue]="opt.value" nz-radio-button>{{ opt.text
                  }} {{ opt.value == currentRecord[control.id] ? '✓': ''}}</label>
                <label [nzValue]="null" nz-radio-button
                  [nzDisabled]="currentRecord[control.id] == null || currentRecord[control.id] == ''"> - </label>
              </nz-radio-group>

              <!-- <nz-select
              [formControlName]="control.id"
              [attr.id]="control.id"
              nzPlaceHolder="{{ control.placeholder }}"
            >
              <nz-option
                *ngFor="let opt of control.valueSelect"
                nzValue="{{ opt.value }}"
                nzLabel="{{ opt.text }}"
              ></nz-option>
            </nz-select> -->
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzLabelAlign="left" [nzSm]="9" [nzXs]="24" [nzFor]="'upload-image'">Hình ảnh</nz-form-label>
            <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Input is required!">
              <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" nzMultiple="'true'">
                <button nz-button>
                  <span nz-icon nzType="upload"></span>
                  Tải hình ảnh lên
                </button>
              </nz-upload>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row style="text-align: right">
        <div nz-col [nzSpan]="24" class="search-area">
          <button nz-button [nzType]="'primary'">Gửi</button>
        </div>
      </div>
    </form>
  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleModalNote" nzTitle="{{ currentRecord?.Code + ' - ' + currentRecord?.Name }}"
  nzCentered (nzOnCancel)="handleCancelModalNote()" nzWidth="80rem" [nzFooter]="null">
  <ng-container *nzModalContent>
    <div nz-row>
      <div nz-col nzSpan="8">
        <div nz-row>
          <nz-descriptions style="padding-right: 20px">
            <nz-descriptions-item nzSpan="3" nzTitle="Khách Hàng">{{
              currentRecord.Name
              }}</nz-descriptions-item>
            <nz-descriptions-item nzSpan="3" nzTitle="Số điện thoại"> <a (click)="viewPhoneNote(currentRecord)">{{
                currentRecord.Phone
                }}</a></nz-descriptions-item>
            <nz-descriptions-item nzSpan="3" nzTitle="Trạng thái">
              <nz-select [(ngModel)]="currentRecord.Status" (ngModelChange)="changeStatus($event)">
                <nz-option *ngFor="let opt of this.filterStatus" [nzValue]="opt.value "
                  nzLabel="{{ opt.text }}"></nz-option>
              </nz-select>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
        <div nz-row class="record-detail" style="background-color: #eee">
          <div nz-col nzSpan="10" class="bold">
            <label for=""> Id:</label>
          </div>
          <div nz-col nzSpan="14">
            {{currentRecord.id}}
          </div>
        </div>
        <ng-container *ngFor="let item of detailControls; let i = index">
          <div nz-row class="record-detail" [ngStyle]="{ 'background-color': (i %2 != 0 ? '#eee': 'white') }">
            <div nz-col nzSpan="10" class="bold">
              <label for="">{{item.name}}:</label>
            </div>
            <div nz-col nzSpan="14" *ngIf="item.type == 'select'">

              {{ getValueById(item.list, currentRecord[item.key]) }}
            </div>
            <div nz-col nzSpan="14" *ngIf="item.type != 'select'">
              {{currentRecord[item.key] }}
            </div>
          </div>
        </ng-container>

        <div nz-row style="justify-content: end;">
          <button nz-button nzType="primary" nzSize="large" style=" border-radius: 5px;"
            (click)="pupolateData(currentRecord)">
            Cập nhật
          </button>
        </div>
      </div>
      <div nz-col nzSpan="16">
        <nz-comment-content>
          <nz-form-item>
            <textarea [(ngModel)]="filterAddNotes[currentRecord.id]" style="margin-bottom: 12px" nz-input
              rows="3"></textarea>
            <div nz-col [nzSpan]="24" style="text-align: right">
              <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!filterAddNotes[currentRecord.id]"
                (click)="handleSubmit(currentRecord.id)">
                Gửi
              </button>
            </div>
          </nz-form-item>
        </nz-comment-content>
        <div style="max-height: 500px; overflow-y: auto">
          <div *ngIf="isArray(currentRecord.Note)">
            <nz-list [nzDataSource]="getNotesByIdData(currentRecord.id)" [nzRenderItem]="item"
              [nzItemLayout]="'horizontal'">
              <ng-template #item let-item>
                <nz-comment [nzAuthor]="item.author" [nzDatetime]="item.datetime">
                  <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
                  <nz-comment-content>
                    <p>{{ item.content }}</p>
                  </nz-comment-content>
                </nz-comment>
              </ng-template>
            </nz-list>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleModalImage" nzTitle="{{ currentRecord?.Code + ' - ' + currentRecord?.Name }}"
  nzCentered (nzOnCancel)="handleCancelModalImage()" nzWidth="80rem" [nzFooter]="null">
  <ng-container *nzModalContent style="min-height: 20rem">
    <div nz-row>
      <div nz-col nzSpan="8">
        <nz-descriptions style="padding-right: 20px">
          <nz-descriptions-item nz-col nzSpan="3" nzTitle="Khách Hàng">{{
            currentRecord.Name
            }}</nz-descriptions-item>
          <nz-descriptions-item nz-col nzSpan="3" nzTitle="Số điện thoại"><a (click)="viewPhoneNote(currentRecord)">{{
              currentRecord.Phone
              }}</a></nz-descriptions-item>
          <nz-descriptions-item nz-col nzSpan="3" nzTitle="Trạng thái">{{
            getValueById(this.filterStatus, currentRecord.Status)
            }}</nz-descriptions-item>
        </nz-descriptions>
      </div>
      <div nz-col nzSpan="16">
        <div style="max-height: 500px; overflow-y: auto">
          <nz-image-group>
            <img class="image-airtable" *ngFor="let path of getImageById(currentRecord.id)" nz-image width="150px"
              height="150px" nzSrc="{{ path }}" alt="" />
          </nz-image-group>
          <nz-upload [nzCustomRequest]="customUploadReq" [nzShowUploadList]="false" [nzMultiple]="true" nzSpan="24">
            <button id="button-upload-image" nz-button (click)="setData(currentRecord.id, data)">
              <span nz-icon nzType="upload"></span>
              Tải hình ảnh lên
            </button>
          </nz-upload>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>