.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
.main-btn {
  height: unset; font-size: 1rem; padding: 6px 20px;
}
.main-btn-logout {
  height: unset; font-size: 1rem; padding: 5px 20px;
  padding-bottom: 4px;
}