/* You can add global styles to this file, and also import other style files */
.ant-table-content {
  overflow: auto;
}

.inner-content {
  overflow-y: auto;
}

.ant-descriptions-item-label {
  font-weight: bold;
}

nz-select {
  width: 100%;
}

.pointer {
  cursor: pointer !important;
}


@media only screen and (max-width: 768px) {
  .cdk-overlay-pane {
    min-width: 0px !important;
    top: 0px !important;
    left: 0px !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    max-width: 350px;
  }

  .ant-dropdown {
    margin: 0 !important;
    transform-origin: left top !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    overflow: scroll !important;
    top: 0 !important;
    left: 0 !important;
  }
}

.ant-radio-button-wrapper:not(:first-child)::before {
  content: unset !important;
}

.ant-radio-button-wrapper:not(:first-child)::before {
  display: none !important;
}

.ant-radio-button-wrapper {
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  font-weight: normal; 
  font-size: 1rem 

}

.ant-btn-primary {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s, background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}
.ant-btn {
  border-radius: 5px !important;
}

.ant-table-measure-now {
  display: none;
}