.save {
  margin-right: 8px;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.name-project-dropdown {
  height: 100%;
  width: 100%;
}

#button-upload-image,
.image-airtable {
  margin-bottom: 12px;
  margin-right: 12px;
}

.name-project-dropdown-details {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #d9d9d9;
}

nz-badge {
  margin-right: 20px;
}

.head-example {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.head-example span {
  font-size: 24px;
}

nz-select {
  width: 240px;
}
nz-divider {
  margin: 4px 0;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  padding: 8px;
}
.add-item {
  flex: 0 0 auto;
  padding: 8px;
  display: block;
}

.ant-advanced-search-form-dropdown {
  padding: 20px;
  background-color: white;
  border: 1px solid #d9d9d9;
  text-align: left;
  min-width: 500px;
}

.value-search {
  border: 1px solid #d9d9d9;
  background-color: white;
  min-width: 460px;
  white-space: nowrap;
  text-align: start;
  margin-right: 3px;

}

.dropdown-white {
  background-color: white;
  border: 1px solid #d9d9d9;
  padding: 20px 20px 0px 20px!important; 
}

.ant-form-item-label {
  text-align: left !important;
}


.ant-radio-button-wrapper-checked {
  border: 1px solid #d9d9d9;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: #d9d9d9 !important;
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  border: 1px solid #d9d9d9;

}
.radio-button {
  margin-right: 7px !important;
  margin-bottom: 7px !important;
  font-weight: 600 !important;
  border-radius: 4px;
  background-color: #f2f3f5;

}
.label-radio-button {
  text-align: left;
}
.ant-form-item-label {
  text-align: left !important;
}
.search-result-list {
  margin-top: 20px !important
}
.select-column {
  margin-bottom: 10px !important;
}

.ant-dropdown {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.p-0 { 
  padding: 0 !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}

.show-hide-columns {
  justify-content: end;
  margin-bottom: 10px;
}
.ant-radio-button-wrapper {
  border: 1px solid #d9d9d9 !important;
}

.record-detail {
  padding: 5px 10px;
}
.record-detail label {
  font-weight: bold;
}


.row-highlight {
  background-color: #EEE !important
}
.row-highlight td {
  background-color: #EEE !important
}
table>col {
  max-width: 50px !important;
}